fastapi
uvicorn
openai
langchain
langchain-openai
langchain-community
langchain-pinecone
tiktoken
python-multipart
pdfplumber
python-docx
python-dotenv
streamlit
alembic 
psycopg2
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]